- board = local_assigns.fetch(:board, nil)
- group = local_assigns.fetch(:group, false)
-# TODO: Move group_id and can_admin_list to the board store
  See: https://gitlab.com/gitlab-org/gitlab/-/issues/213082
- can_admin_list = can?(current_user, :admin_list, current_board_parent) == true
- @no_breadcrumb_container = true
- @no_container = true
- @content_class = "issue-boards-content js-focus-mode-board"
- if board.to_type == "EpicBoard"
  - breadcrumb_title _("Epic Boards")
- else
  - breadcrumb_title _("Issue Boards")
- page_title("#{board.name}", _("Boards"))
- add_page_specific_style 'page_bundles/boards'

- content_for :page_specific_javascripts do

  %script#js-board-modal-filter{ type: "text/x-template" }= render "shared/issuable/search_bar", type: :boards_modal, show_sorting_dropdown: false

= render 'shared/issuable/search_bar', type: :boards, board: board
#board-app.boards-app.position-relative{ "v-cloak" => "true", data: board_data, ":class" => "{ 'is-compact': detailIssueVisible }" }
  %board-content{ "v-cloak" => "true",
    "ref" => "board_content",
    ":lists" => "state.lists",
    ":can-admin-list" => can_admin_list,
    ":disabled" => "disabled",
    data: { qa_selector: "boards_list" } }
  = render "shared/boards/components/sidebar", group: group
  %board-settings-sidebar{ ":can-admin-list" => can_admin_list }
  - if @project
    %board-add-issues-modal{ "new-issue-path" => new_project_issue_path(@project),
      "milestone-path" => milestones_filter_dropdown_path,
      "label-path" => labels_filter_path_with_defaults,
      "empty-state-svg" => image_path('illustrations/issues.svg'),
      ":project-id" => @project.id }
